<h1>Teams by League</h1>

<table cellpadding="10" cellspacing="10">
  <tr>
    <th>Serious League</th>
    <th>Fun League</th>
    <th>Doubles</th>
  </tr>
  <tr>
    <td valign="top">
			<table>
				<% @serious.each do |team| %>
				<tr><td><%= link_to team.name, team %></td></tr>
				<% end %>
			</table>
		</td>
    <td valign="top">
			<table>
				<% @fun.each do |team| %>
				<tr><td><%= link_to team.name, team %></td></tr>
				<% end %>
			</table>
		</td>
    <td valign="top">
			<table>
				<% @doubles.each do |team| %>
				<tr><td><%= link_to team.name, team %></td></tr>
				<% end %>
			</table>
		</td>
  </tr>
</table>

<br />

<% if admin_signed_in? %>
<%= link_to 'New Team', new_team_path %>
<% end %>
<%= link_to "forgot pass", new_password_path("admin") %>
