<center>
<h1><%= @team.league.capitalize %> :: <%= @team.name %></h1>

<img src="<%= @team.smack_img %>"/>
<p><i><%= @team.smack %></i></p>


<table>
<tr><td>
<p>
  <b>Members:</b>
  <%= @team.members %>
</p>
<p>
  <b>Emails:</b>
  <%= @team.emails %>
</p>
</td></tr>
<tr><td>
<p>
  <b>Bio:</b><pre>
  <%= @team.bio %></pre>
</p>
</td></tr>
</table>

<table>
<tr>
<td>
  <img src="<%= @team.win_img %>" style="height: 300px"/>
</td>
<td>
  <img src="<%= @team.lose_img %>" style="height: 300px"/>
</td>
</tr>
</table>
</center>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %><% if admin_signed_in? %> |
<%= link_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
