<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team1 %><br />
    <%= f.number_field :team1 %>
  </div>
  <div class="field">
    <%= f.label :team2 %><br />
    <%= f.number_field :team2 %>
  </div>
  <div class="field">
    <%= f.label :round %><br />
    <%= f.number_field :round %>
  </div>
  <div class="field">
    <%= f.label :next %><br />
    <%= f.number_field :next %>
  </div>
  <div class="field">
    <%= f.label :loser_next %><br />
    <%= f.number_field :loser_next %>
  </div>
  <div class="field">
    <%= f.label :winner %><br />
    <%= f.number_field :winner %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br />
    <%= f.datetime_select :schedule %>
  </div>
  <div class="field">
    <%= f.label :bracket %><br />
    <%= f.text_field :bracket %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
