<h1>Doubles Bracket</h1>

<div class="bracket">
<table cellpadding="5">
<tr><td>
1) <%= bracket_match(@matches[1], "-", "-") %><br/>
2) <%= bracket_match(@matches[2], "-", "-") %><br/>
3) <%= bracket_match(@matches[3], "-", "-") %><br/>
</td><td>
4) <%= bracket_match(@matches[4], "w[1]", "w[2]") %><br/>
</td><td>
5) <%= bracket_match(@matches[5], "w[4]", "w[3]") %><br/>
</td></tr>
</table>
</div>

<br>

<h1>Doubles Wildcard</h1>

<div class="bracket">
<table cellpadding="5">
<tr><td>
6) <%= bracket_match(@matches[6], "l[1]", "l[2]") %><br/>
</td><td>
7) <%= bracket_match(@matches[7], "w[6]", "l[3]") %><br/>
</td><td>
8) <%= bracket_match(@matches[8], "w[7]", "l[4]") %><br/>
</td><td>
9) <%= bracket_match(@matches[9], "w[8]", "l[5]") %><br/>
</td></tr>
</table>
</div>

<br>

<h1>Finals</h1>
<div class="bracket">
<table cellpadding="5">
<tr><td>
10) <%= bracket_match(@matches[10], "w[5]", "w[9]") %><br/>
</td></tr>
</div>
