<center>
	<h1><%= @match.bracket.split("_").map(&:capitalize).join(" ") %> :: Match #<%= @match.round %></h1>

	<%
		left_name = "Unknown"
		left_img = "https://dl.dropbox.com/u/9921601/moovweb/pingpong/template.png"
		if !@match.left_team.blank?
			left_name = @match.left_team.name
			left_img = @match.left_team.smack_img
			if !@match.win_team.blank?
				if @match.win_team == @match.left_team
					left_img = @match.left_team.win_img
				else
					left_img = @match.left_team.lose_img
				end
			end
		end

		right_name = "Unknown"
		right_img = "https://dl.dropbox.com/u/9921601/moovweb/pingpong/template.png"
		if !@match.right_team.blank?
			right_name = @match.right_team.name
			right_img = @match.right_team.smack_img
			if !@match.win_team.blank?
				if @match.win_team == @match.right_team
					right_img = @match.right_team.win_img
				else
					right_img = @match.right_team.lose_img
				end
			end
		end
	%>

	<table width="100%">
		<tr>
			<th><%= left_name %></th>
			<th></th>
			<th><%= right_name %></th>
		</tr>
		<tr>
			<td align="center" valign="top">
				<img src="<%= left_img %>" style="height: 350px; width: auto">
			</td>
			<td align="center" valign="bottom" width="205px">
				<img src="https://dl.dropbox.com/u/9921601/moovweb/pingpong/versus.png" style="height: 200px; width: auto">
			</td>
			<td align="center" valign="top">
				<img src="<%= right_img %>" style="height: 350px; width: auto">
			</td>
		</tr>
	</table>
</center>


<p>
  <b>Next:</b>
  <%= @match.winner_next %>
</p>

<p>
  <b>Loser Next:</b>
  <%= @match.loser_next %>
</p>

<p>
  <b>Winner:</b>
  <%= @match.win_team.blank? ? "None" : @match.win_team.members %>
</p>

<p>
  <b>Scheduled at:</b>
  <%= @match.schedule %>
</p>

<p>
  <b>Bracket:</b>
  <%= @match.bracket %>
</p>

<% if !@match.left_team.blank? and !@match.right_team.blank? %>
<%= form_for(@match, :url => declare_win_match_path(@match)) do |f| %>
	<%= select_tag(:winner, options_for_select([
			[@match.left_team.name, @match.left_team.id],
			[@match.right_team.name, @match.right_team.id]])) %>
	<%= f.submit "Select Winner!" %>
<% end %>
<% end %>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
