<p>
  <b>Team1:</b>
	<%= @match.left_team.blank? ? "Unknown" : @match.left_team.members %>
</p>

<p>
  <b>Team2:</b>
  <%= @match.right_team.blank? ? "Unknown" : @match.right_team.members %>
</p>

<p>
  <b>Round:</b>
  <%= @match.round %>
</p>

<p>
  <b>Next:</b>
  <%= @match.winner_next %>
</p>

<p>
  <b>Loser Next:</b>
  <%= @match.loser_next %>
</p>

<p>
  <b>Winner:</b>
  <%= @match.win_team.blank? ? "None" : @match.win_team.members %>
</p>

<p>
  <b>Scheduled at:</b>
  <%= @match.schedule %>
</p>

<p>
  <b>Bracket:</b>
  <%= @match.bracket %>
</p>

<%= form_for(@match, :url => declare_win_match_path(@match)) do |f| %>
	<%= select_tag(:winner, options_for_select([
			[@match.left_team.name, @match.left_team.id],
			[@match.right_team.name, @match.right_team.id]])) %>
	<%= f.submit "Select Winner!" %>
<% end %>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
