<h1><%= @match.bracket.split("_").map(&:capitalize).join(" ") %> :: Match #<%= @match.round %></h1>
<br/><br/>
<%
	left_name = "Unknown"
	left_img = "https://dl.dropbox.com/u/9921601/moovweb/pingpong/template.png"
	if !@match.left_team.blank?
		left_name = @match.left_team.name
		left_img = @match.left_team.smack_img
		if !@match.win_team.blank?
			if @match.win_team == @match.left_team
				left_img = @match.left_team.win_img
			else
				left_img = @match.left_team.lose_img
			end
		end
	end

	right_name = "Unknown"
	right_img = "https://dl.dropbox.com/u/9921601/moovweb/pingpong/template.png"
	if !@match.right_team.blank?
		right_name = @match.right_team.name
		right_img = @match.right_team.smack_img
		if !@match.win_team.blank?
			if @match.win_team == @match.right_team
				right_img = @match.right_team.win_img
			else
				right_img = @match.right_team.lose_img
			end
		end
	end
%>

<div class="match-wrap">
	<div class="match-bg"></div>
	<div class="match-front">
		<div class="match-team">
			<img src="<%= left_img %>"><br/>
			<%= left_name %>
		</div>
		<div class="match-team">
			<img src="<%= right_img %>"><br/>
			<%= right_name %>
		</div>
	</div>
</div>


<div>
  <b>Next:</b>
  <%= @match.winner_next %>
</div>

<div>
  <b>Loser Next:</b>
  <%= @match.loser_next %>
</div>

<div>
  <b>Winner:</b>
  <%= @match.win_team.blank? ? "None" : @match.win_team.members %>
</div>

<div class="match-schedule">
	<%= form_for(@match, :url => set_schedule_match_path(@match)) do |f| %>
		<div class="field">
			<%= f.label "Scheduled at" %><br/>
			<%= f.datetime_select :schedule %>
		</div>
	<% end %>
  <%= @match.schedule %>
</div>

<% if !@match.left_team.blank? and !@match.right_team.blank? %>
<div class="match-declare-winner">
<%= form_for(@match, :url => declare_win_match_path(@match)) do |f| %>
	<div class="field">
	<%= select_tag(:winner, options_for_select([
			[@match.left_team.name, @match.left_team.id],
			[@match.right_team.name, @match.right_team.id]])) %>
	</div>
	<div class="actions">
		<%= f.submit "Select Winner!" %>
	</div>
<% end %>
</div>
<% end %>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
