<h1><%= @match.bracket.split("_").map(&:capitalize).join(" ") %> :: Match #<%= @match.round %></h1>
<br/><br/>
<%
	left_name = "Unknown"
	left_img = "https://dl.dropbox.com/u/9921601/moovweb/pingpong/template.png"
	if !@match.left_team.blank?
		left_name = link_to @match.left_team.name, team_path(@match.left_team)
		left_img = @match.left_team.smack_img
		if !@match.win_team.blank?
			if @match.win_team == @match.left_team
				left_img = @match.left_team.win_img
			else
				left_img = @match.left_team.lose_img
			end
		end
	end

	right_name = "Unknown"
	right_img = "https://dl.dropbox.com/u/9921601/moovweb/pingpong/template.png"
	if !@match.right_team.blank?
		right_name = link_to @match.right_team.name, team_path(@match.right_team)
		right_img = @match.right_team.smack_img
		if !@match.win_team.blank?
			if @match.win_team == @match.right_team
				right_img = @match.right_team.win_img
			else
				right_img = @match.right_team.lose_img
			end
		end
	end
%>

<div class="match-wrap">
	<div class="match-bg"></div>
	<div class="match-front">
		<div style="width: 50%; float: left;">
			<div class="match-team match-team-left">
				<img src="<%= left_img %>"><br/>
				<%= left_name %>
			</div>
		</div>
		<div style="width: 50%; float: right;">
			<div class="match-team match-team-right">
				<img src="<%= right_img %>"><br/>
				<%= right_name %>
			</div>
		</div>
	</div>
</div>

<% if !@match.winner_next.blank? %>
<div>
  Next Match for the Winner:
  <%= link_to "Bring it!", match_path(@match.next_winner_match) %>
</div>
<% end %>

<% if !@match.loser_next.blank? %>
<div>
  Next Match for the Loser:
  <%= link_to "It's not over yet!", match_path(@match.next_loser_match) %>
</div>
<% end %>

<div>
  Winner?:
  <%= @match.win_team.blank? ? "None yet!" : @match.win_team.name %>
</div>

<div class="match-schedule">
<% if @match.win_team.blank? %>
	<%= form_for(@match, :url => set_schedule_match_path(@match)) do |f| %>
		<div class="field">
			<%= f.label "Scheduled for:" %><br/>
			<%= f.datetime_select :schedule %>
		</div>
		<div class="actions">
			<%= f.submit "Set Match Date"%>
		</div>
	<% end %>
<% else %>
	<div>
		Played at:
		<%= @match.schedule.strftime("%m/%d/%Y @ %I:%M:%S %p") %>
	</div>
<% end %>
</div>

<% if !@match.left_team.blank? and !@match.right_team.blank? %>
	<% if @match.win_team.blank? %>
		<div class="match-declare-winner">
		<%= form_for(@match, :url => declare_win_match_path(@match)) do |f| %>
			<div class="field">
			<%= f.label "Select a Winner!" %><br/>
			<%= select_tag(:winner, options_for_select([
					[@match.left_team.name, @match.left_team.id],
					[@match.right_team.name, @match.right_team.id]])) %>
			</div>
			<div class="actions">
				<%= f.submit "Submit" %>
			</div>
		<% end %>
		</div>
	<% end %>
<% end %>

<br/><br/>

<% if admin_signed_in? %>
<%= link_to 'Edit', edit_match_path(@match) %> |
<% end %>
